# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On

#rewrite in base all'host di connessione

RewriteRule . - [E=rwbase:/]
RewriteCond %{HTTP_HOST} localhost$
RewriteRule . - [E=rwbase:/studio_tecnico/]

RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# rewrite in base alla variabile calcolata in precedenza
RewriteRule . /%{ENV:rwbase}index.php [L]

</IfModule>

# END WordPress
